<!DOCTYPE html>
<html>
<head>
    <title>DevOps Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>🚀 DevOps Project</h1>
    <p>This project demonstrates CI/CD pipeline.</p>

    <div class="card">
        <h2>Technologies Used</h2>
        <ul>
            <li>Docker</li>
            <li>GitHub Actions</li>
            <li>AWS EC2</li>
        </ul>
    </div>

    <div class="card">
        <h2>Status</h2>
        <p class="success">Running Successfully ✅</p>
    </div>
</div>

</body>
</html>
